@{
    ViewBag.Title = "reviews";
}

    <!-- ####################################################################################################### -->
    <div class="wrapper col4">
        <div id="container" class="clear">
            <!-- ####################################################################################################### -->
           
            <!-- ####################################################################################################### -->
            <div id="content">
               
                <div id="comments">
                    <h2>Comments</h2>
                    <ul class="commentlist">
                        <li class="comment_odd">
                            <div class="author"><img class="avatar" src="~/images/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">harris</a></span> <span class="wrote">wrote:</span></div>
                            <div class="submitdate"><a href="#">jan 4, 2015 at 8:35 am</a></div>
                            <p>wonderful website.you can trust them.This is wonderful website,i have ever seen.You can feel free to make order on this website and they provide laptop of good quality. </p>
                        </li>
                        <li class="comment_even">
                            <div class="author"><img class="avatar" src="~/images/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">ahmed</a></span> <span class="wrote">wrote:</span></div>
                            <div class="submitdate"><a href="#">jan 4, 2015 at 8:35 am</a></div>
                            <p>Great Website it is............I love this.They provide you a large variety of laptops.You can choose any on of these.Iam not saying word but i mean it.Whenever you want to buy laptop you must visit this website.</p>
                        </li>
                        <li class="comment_odd">
                            <div class="author"><img class="avatar" src="~/images/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">adil</a></span> <span class="wrote">wrote:</span></div>
                            <div class="submitdate"><a href="#">jan 4, 2015 at 8:35 am</a></div>
                            <p>Great website.you can easily buy laptops from there.you need not to worry about quality of laptops.</p>
                        </li>
                    </ul>
                </div>
                <h2>Write A Comment</h2>
                <div id="respond">
                    <form action="#" method="post">
                        <p>
                            <input type="text" name="name" id="name" value="" size="22" />
                            <label for="name"><small>Name (required)</small></label>
                        </p>
                        <p>
                            <input type="text" name="email" id="email" value="" size="22" />
                            <label for="email"><small>Mail (required)</small></label>
                        </p>
                        <p>
                            <textarea name="comment" id="comment" cols="100" rows="10"></textarea>
                            <label for="comment" style="display:none;"><small>Comment (required)</small></label>
                        </p>
                        <p>
                            <input name="submit" type="submit" id="submit" value="Submit Form" />
                            &nbsp;
                            <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
                        </p>
                    </form>
                </div>
            </div>  @*end of id content*@
            <div id="column">
                <div class="subnav">
                   
                </div>
                <div class="holder">
                  
                </div>
                <div id="featured">
                   
                </div>
                <div class="holder">
                   
                </div>
            </div>   @*end if id column*@
            <!-- ####################################################################################################### -->
            <div class="clear"></div>
        </div>
    </div>   @*end of wrapper col4*@
    <!-- ####################################################################################################### -->
   
