
@{
    ViewBag.Title = "Online Laptop Shopping";
}

<div class="wrapper col4">
    <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <div id="homepage" class="clear">
            <div class="fl_left">
                <h2>Latest Featured Laptops</h2>
                <div id="hpage_slider">
                    <div class="item"><img src="~/images/L17.jpg" alt="" width="480" height="320" /></div>
                </div>
                <h2>@*Project Name Goes Here*@</h2>
                <p>@*<strong>Project Type:</strong> <a href="#">Wedding Photography</a>*@</p>
                <p>@*This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.*@</p>
                <p @*class="readmore"*@>@*<a href="#"><strong>View The Full Project &raquo;</strong></a>*@</p>
            </div>
            <div class="fl_right">
                <h2>What People Say About Us</h2>
                <ul class="testimonials">
                    <li>
                        <p class="name"><strong>Client Name</strong> - Harris</p>
                        <blockquote>This is wonderful website,i have ever seen.You can feel free to make order on this website and they provide laptop of good quality.</blockquote>
                        @*<p class="readmore"><a href="#"><strong>View This Project</strong></a></p>*@
                    </li>
                    <li class="last">
                        <p class="name"><strong>Client Name</strong> - Ahmed</p>
                        <blockquote>Great Website it is............I love this.They provide you a large variety of laptops.You can choose any on of these.Iam not saying word but i mean it.Whenever you want to buy laptop you must visit this website. </blockquote>
                        @*<p class="readmore"><a href="#"><strong>View This Project</strong></a></p>*@
                    </li>
                </ul>
                <h2>@*Subscribe To Our Newsletter*@</h2>
                <p>@*Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit.*@</p>
                @*<form action="#" method="post">
                        <fieldset>
                            <legend>Newsletter Signup:</legend>
                            <input type="text" id="newsletter" value="Enter Email Here;" onfocus="this.value=(this.value=='Enter Email Here;')? '' : this.value ;" />
                            <input type="image" id="subscribe" src="~/images/sign-up.gif"  width ="50" alt="Submit" />

                        </fieldset>
                    </form>*@
                <p>@*class="form_hint">* Please enter email address to sign up here.*@</p>
            </div>
        </div>
        <!-- ####################################################################################################### -->
    </div>
</div>